.address {
  @extend %font-text;
  font-style: normal;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.address_item:not(:last-child) {
  margin-bottom: 9px;
}
.address_maplink {
  @include transition(color);
  text-decoration: none;
  color: $main-light;

  &:hover,
  &:focus {
    color: $accent;
  }
}
.address_link {
  @include transition(color);
  color: $footer-text;

  &:hover,
  &:focus {
    color: $accent;
  }
}
