.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $main-light;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients_title {
  @extend %font-section-title;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.clients_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.clients_item {
  margin-top: 30px;
  margin-left: 30px;
  height: 92px;

  @media screen and (max-width: 1199px) {
    width: calc((100% - 90px) / 3);
  }

  @media screen and (max-width: 767px) {
    width: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 180px) / 6);
  }
}
.clients_link {
  @include border($icons);
  @include transition(border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  color: $icons;

  &:hover,
  &:focus {
    color: $accent;
    border-color: $accent;
  }
}
.clients_icon {
  @include transition(color);
  fill: currentColor;
}
