.departments {
  padding-bottom: 94px;
  background-color: $main-light;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.departments_title {
  @extend %font-section-title;
  font-size: 36px;
  margin-bottom: 50px;
}
.departments_list {
  display: flex;
}
.departments_item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.departments_image {
  display: block;
}
.departments_text {
  @extend %font-text-title;
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: $main-light;
  background-color: $bg-departments;
}
