.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $main-light;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.features_list {
  margin: 0 -15px 0 -15px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.features_item {
  margin-right: 15px;
  margin-left: 15px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (max-width: 1199px) {
    flex-basis: calc((100% - 60px) / 2);
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}
.features_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: $bgmiddle;
  margin-bottom: 30px;
}
.features_title {
  @extend %font-text-title;
  text-align: center;
  margin-bottom: 10px;
  color: $main-dark;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.features_text {
  @extend %font-text;
  color: $main;
}
