.logo {
  @extend %font-logo;
  display: block;
  color: $accent;
}
.logo--header {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }

  & .variable {
    color: $main-dark;
  }
}
.logo--footer {
  margin-bottom: 20px;

  & .variable {
    color: $main-light;
  }
}
