.modal {
  @include transition(opacity);
  @include transition(transform);
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: $main-light;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.modal_close-icon {
  fill: currentColor;
}
.modal_close-button {
  @include border($border-close-button);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #000000;
  background-color: $main-light;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $accent;
  }
}
